<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Привет мир</h1>
    {% for n in ftor %}
       <h1> {{ n }} </h1>
    {% endfor %}


</body>
</html>